<div class="container">
  <table>
    <thead>
    <tr>
      <th *ngFor="let weekDay of weekDayNames">{{ weekDay }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of weeks">
      <td *ngFor="let dayObj of week">
        <span>{{ dayObj.day }}</span>
        <ng-container *ngIf="dayObj.schedules">
          <div class="tasks" cdkDropList [cdkDropListData]="dayObj.schedules" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let schedule of dayObj.schedules" cdkDrag class="grab">
              <div *ngFor="let item of schedule">{{item.title}}</div>
            </div>
          </div>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
</div>
